body{
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    background-color: #29293F;
    
}
.title-container {
    height: 500px;
    background-image: url("https://hackernoon.com/hn-images/1*OF0xEMkWBv-69zvmNs6RDQ.gif");
    background-size: cover;
    background-attachment: fixed;   
    background-position: center;
    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    
}


.sidebar {
    height: 40%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #4CAF50;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
    color: white;
    
  }
  
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F8DA59;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidebar a:hover {
    color: #29293F;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #F8DA59;
    color: #29293F;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #29293F;
    color: white;
    
  }
  

  #main {
    transition: margin-left .5s; 
    padding: 20px;
   
  }
  

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.navbar-container {
    height:75px;
    background-color: #535c68;
    font-size: 1.4rem;
    
}
.navbar{
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 0;
}

.navbar li{
    list-style-type: none;
    padding: 0 40px;
}
.nav-menu{
    margin-left: auto;
}

.navbar a{
    text-decoration: none;
    color:white;
}
.navbar a:hover{
    color: red;
}
.main-body{
    margin: 0 50px;
    color: white;
    
    
}

.two-column{
    display: grid;
    grid-template: 1fr 1fr;
}
.col1{
    padding: 10px 15px;
    grid-column: 1/2;
}
.col2{
    padding: 10px 15px;
    grid-column: 2/3;
    border: 10px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
    margin: 20px;
  }
   
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    max-width: 100%;
}

.center {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}


.function-img {
    
    grid-column: 2/3;
    border-radius: 5px;
    padding: 55px;
    width: 200px;
    margin: 20px;
}

.array-img {
    
    grid-column: 2/3;
    border-radius: 5px;
    padding: 55px;
    width: 200px;
    margin: 20px;

}

.object-img {
    
    grid-column: 2/3;
    border-radius: 5px;
    padding: 55px;
    width: 200px;
    margin: 20px;
}

.links{
    display: flex;
    height:100%;
    align-self: auto;
    justify-content: space-between;
    display: flex;
    color: white;
    margin-top: 30px;
}
    .links1:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
    .links2:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
    .links3:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
    .links4:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.col4 {
    text-align: center;
    padding: 30px;
    color: white;
    visibility: hidden;
    animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}

.footer {
    display: flex;
    left: 0;
    bottom: 100%;
    width: 100%;
    background-color: #535c68;
    color: black;
    text-align: center;
    
}

form {
    border: 4px; 
    color: #F8DA59;
  }
  
  .container {
    padding: 20px;
    background-color: #535c68;
    
}
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F8DA59;
    box-sizing: border-box;
  
  }

  input[type=checkbox] {
    margin-top: 16px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    color: #F8DA59;
    cursor:not-allowed;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  